*,
*::before,
*::after {
    box-sizing: border-box;
}




:root {
    --ff-primary: 'Mali', cursive;

    --fs-h1: 2.25rem;
    --fs-body: 1.625rem;
    --fs-input: 1.25rem;
}

body {
    margin: 1rem;
    font-family: var(--ff-primary);
}


/*** Header ***/

#title {
    font-size: var(--fs-h1);
    margin-top: 2rem;
    text-align: center;
}

#description {
    font-size: 1.125rem;
    text-align: center;
}


/*** Main / Form ***/

main {
    margin: 0 auto;
    max-width: 800px;
}


form {
    font-size: var(--fs-body);
    margin: .5rem;
}


.name,
.email,
.age,
.grade,
.comments-field,
.radio-field,
.checkbox-field,
.submit {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.question-text {
    margin-bottom: .25rem;
}

.input-text,
.select-text,
.text-area-text {
    font-size: var(--fs-input);
    font-family: var(--ff-primary);
}

.radio-text,
.checkbox-text {
    font-size: var(--fs-input);
}