*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 1rem;
}

:root {
    --fs-h1: 2.25rem;
    --fs-body: 1.625rem;
}


/*** Header ***/

#title {
    font-size: var(--fs-h1);
    margin-top: 2rem;
    text-align: center;
}

#description {
    font-size: 1.125rem;
    text-align: center;
}


/*** Main / Form ***/

main {
    margin: 0 auto;
    max-width: 800px;
}


form {
    font-size: var(--fs-body);
    margin: 1rem;
}

.name,
.email,
.age,
.grade {
    display: flex;
    flex-direction: column;
}